<!--
---
import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 {SITE?.name}
</span> -->
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap">
  <img src="/src/assets/images/logo_blanco_celeste.png" class="logo_2 hidden dark:block" width="120px" alt="Logo Azul Celeste" />
  <img src="/src/assets/images/logo_azul_celeste.svg" class="logo_1 dark:hidden" width="120px" alt="Logo Blanco Celeste" />
</span>